/* General setup */
/* Remember to always comment*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

body{
  background-color: #C7D6D5;
  color: black;
}

h1{
  color: #145C9E;
  font-family: sans-serif;
line-height: 20px;
  font-size: 24px;
  letter-spacing: 5px;
}

h2{
  font-family: sans-serif;
  color: #453823;
line-height: 20px;
letter-spacing: 5px;
  font-size: 20px;
}

p{
  font-family: serif;
line-height: 20px;
letter-spacing: 2px;
word-spacing: 7px;
  font-size: 14px;
}

a:hover {
    text-decoration: none;
    color:#a66;
}

a{
      font-weight: bold;
}


.list1{

}
