* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
background-color: grey;
}

body {
  background-color: grey;
  margin: 0;
  background: #ccc;
}

article {
  background-color: grey;
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  background-color: grey;
  position: absolute;
  top: 8mm;
  right: 120mm;
  text-shadow: 1px 1px 1px white;
}

h1 {
  background-color: grey;
  position: absolute;
  top: 12mm;
  float: 40px;
  left: 100mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 2px 2px 2px black;
}

/* background images and border */

article {
  background-color: grey;
margin: 0;

background-color: grey;


/* top and bottom border, 1mm both */
border-top-style: solid;
border-bottom-style: solid;
border-color: rgba(255, 0, 0, 0.7);
border-top-width: 1mm;
border-bottom-width: 1mm;


}

/* logo h1 background image image */

h1{
background: url(https://raw.githubusercontent.com/mdn/learning-area/master/css/styling-boxes/letterheaded-paper-start/logo.png) no-repeat;
filter: drop-shadow(2px 2px 1px black );
}
